<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container>
                <v-card flat class="py-12">

                    <v-card-text>
                        <v-row align="center" justify="center">
                            <v-alert color="red" :text="true" v-if="validate_message">{{ validate_message }}</v-alert>
                            <v-col cols="12">
                                <h2 class="text-center">Choose encoding algorithm</h2>
                            </v-col>
                            <v-btn-toggle v-model="toggle_algorithms">
                                <v-btn color="primary" :disabled="loading">
                                    Offset Encoding Algorithm
                                </v-btn>
                                <v-btn color="primary" :disabled="loading">
                                    Substitution Encoding Algorithm
                                </v-btn>
                                <v-btn color="primary" :disabled="loading">
                                    Composite Encoding Algorithm
                                </v-btn>
                            </v-btn-toggle>
                        </v-row>
                    </v-card-text>

                    <!-- Offset Encoding Algorithm -->
                    <template v-if="toggle_algorithms === 0">
                        <v-row align="center" justify="center">
                            <v-col cols="3" md="2" >

                                <v-textarea
                                        v-model="offset_encoding_value"
                                        label="Write text to encode *"
                                        clearable
                                        clear-icon="cancel"
                                ></v-textarea>

                            </v-col>
                            <v-col cols="3" md="2" >
                                <v-text-field
                                        v-model="offset"
                                        class="mx-4"
                                        max="1000"
                                        label="Offset *"
                                        style="width: 125px"
                                        type="number"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="3" md="2" >
                                <v-textarea
                                        v-model="offset_encoding_result"
                                        readonly
                                        label="Result"
                                ></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row align="center" justify="center">
                            <div class="mr-5">
                                <v-btn color="error" :disabled="loading" @click.prevent="resetOffsetAlgorithm">
                                    Reset
                                </v-btn>
                            </div>
                            <v-btn color="primary" :loading="loading" @click.prevent="encodeOffsetAlgorithm">
                                Encode
                            </v-btn>
                        </v-row>
                    </template>


                    <!-- Substitution Encoding Algorithm -->
                    <template v-if="toggle_algorithms === 1">
                        <v-row align="center" justify="center">
                            <v-col cols="4" md="2" >
                                <v-textarea
                                        v-model="substitution_encoding_value"
                                        label="Write text to encode *"
                                        clearable
                                        clear-icon="cancel"
                                ></v-textarea>

                            </v-col>
                            <v-col cols="4" md="1" >
                                <v-text-field
                                        v-model="character"
                                        class="mx-4"
                                        label="Character *"
                                        style="width: 125px"
                                        type="text"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="4" md="1" >
                                <v-text-field
                                        v-model="replace_with"
                                        class="mx-4"
                                        label="Replace with *"
                                        style="width: 125px"
                                        type="text"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="4" md="2" >
                                <v-textarea
                                        v-model="substitution_encoding_result"
                                        readonly
                                        label="Result"
                                ></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row align="center" justify="center">
                            <div class="mr-5">
                                <v-btn color="error" :disabled="loading" @click.prevent="resetSubstitutionAlgorithm">
                                    Reset
                                </v-btn>
                            </div>
                            <v-btn color="primary" :loading="loading" @click.prevent="encodeSubstitutionAlgorithm">
                                Encode
                            </v-btn>
                        </v-row>
                    </template>


                    <!-- Composite Encoding Algorithm -->
                    <template v-if="toggle_algorithms === 2">
                        <v-row align="center" justify="center">
                            <v-col cols="3" md="2" >
                                <v-textarea
                                        v-model="composite_encoding_value"
                                        label="Write text to encode *"
                                        clearable
                                        clear-icon="cancel"
                                ></v-textarea>
                            </v-col>
                            <v-col cols="3" md="2" >
                                <label class="d-block">Composite Algorithms *</label>
                                <v-btn-toggle v-model="algorithms" multiple>
                                    <v-btn>
                                        MD5
                                    </v-btn>
                                    <v-btn>
                                        SHA1
                                    </v-btn>
                                    <v-btn>
                                        SHA256
                                    </v-btn>
                                </v-btn-toggle>

                            </v-col>
                            <v-col cols="3" md="2" >
                                <v-textarea
                                        v-model="composite_encoding_result"
                                        readonly
                                        label="Result"
                                ></v-textarea>
                            </v-col>
                        </v-row>

                        <v-row align="center" justify="center">
                            <div class="mr-5">
                                <v-btn color="error" :disabled="loading" @click.prevent="resetCompositeAlgorithm">
                                    Reset
                                </v-btn>
                            </div>
                            <v-btn color="primary" :loading="loading" @click.prevent="encodeCompositeAlgorithm">
                                Encode
                            </v-btn>
                        </v-row>

                    </template>

                </v-card>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.2.5/vee-validate.full.min.js"></script>



<script>

    new Vue({
        el: '#app',
        vuetify: new Vuetify({
            icons: {
                iconfont: 'mdiSvg',
            }
        }),
        data() {
          return {
              offset_encoding_value: null,
              substitution_encoding_value: null,
              composite_encoding_value: null,

              offset_encoding_result: null,
              substitution_encoding_result: null,
              composite_encoding_result: null,

              character:null,
              replace_with:null,

              toggle_algorithms: null,
              offset: null,

              algorithms: [],

              loading: false,
              validate_message: null
          }
        },
        methods: {
            resetOffsetAlgorithm: function () {
                this.offset_encoding_value = null;
                this.offset_encoding_result = null;
                this.offset = null;
                this.validate_message = null;
            },
            resetSubstitutionAlgorithm: function () {
                this.substitution_encoding_value = null;
                this.substitution_encoding_result = null;
                this.character = null;
                this.replace_with = null;
                this.validate_message = null;
            },
            resetCompositeAlgorithm: function () {
                this.composite_encoding_value = null;
                this.composite_encoding_result = null;
                this.algorithms = [];
                this.validate_message = null;
            },

            encodeOffsetAlgorithm: function () {
                this.validate_message = null;
                if(!this.offset_encoding_value || this.offset === '') {
                    this.validate_message = 'Please fill all required fields. *';
                    return;
                }
                if(this.offset_encoding_value.length > 1000){
                    this.validate_message = 'The encoding value length must be less or equal to 1000.';
                    return;
                }
                if(!/[0-9]/.test(this.offset)){
                    this.validate_message = 'The offset value must be number.';
                    return;
                }
                if(this.offset > 1000){
                    this.validate_message = 'The offset value must be less or equal to 1000.';
                    return;
                }
                if(this.offset < 0){
                    this.validate_message = 'The offset value cant be negative.';
                    return;
                }
                if(/\\/.test(this.offset_encoding_value)){
                    this.validate_message = 'No backslashes allowed.';
                    return;
                }
                this.loading = true;
                // Send to backend
                axios.post('http://localhost:8000/OffsetEncodingAlgorithm.php/', {
                        value: this.offset_encoding_value,
                        offset: this.offset
                    })
                    .then((response) => {
                        if(response.status === 200){
                            this.offset_encoding_result = response.data.result;
                        }
                        this.loading = false;
                    })
                    .catch((error) => {
                        if(error.response.status === 422){
                            this.validate_message = error.response.data.message;
                        }else {
                            this.validate_message = 'Server error.';
                        }
                        this.loading = false;
                    });

            },
            encodeSubstitutionAlgorithm: function () {
                this.validate_message = null;
                if(!this.substitution_encoding_value || !this.character || !this.replace_with) {
                    this.validate_message = 'Please fill all required fields. *';
                    return;
                }
                if(this.substitution_encoding_value.length > 1000){
                    this.validate_message = 'The encoding value length must be less or equal to 1000.';
                    return;
                }
                if(this.character.length > 1 || this.replace_with.length > 1){
                    this.validate_message = 'The characters mut be only 1.';
                    return;
                }
                if(/\\/.test(this.character) || /\\/.test(this.replace_with.length) || /\\/.test(this.substitution_encoding_value)){
                    this.validate_message = 'No backslashes allowed.';
                    return;
                }

                this.loading = true;

                // Send to backend
                axios.post('http://localhost:8000/SubstitutionEncodingAlgorithm.php', {
                        value: this.substitution_encoding_value,
                        character: this.character,
                        replace_with: this.replace_with,
                    })
                    .then((response) => {

                        if(response.status === 200){
                            this.substitution_encoding_result = response.data.result;
                        }
                        this.loading = false;
                    })
                    .catch((error) => {
                        if(error.response.status === 422){
                            this.validate_message = error.response.data.message;
                        }else {
                            this.validate_message = 'Server error.';
                        }
                        this.loading = false;
                    });

            },
            encodeCompositeAlgorithm: function () {
                this.validate_message = null;
                if(!this.composite_encoding_value || !this.algorithms) {
                    this.validate_message = 'Please fill all required fields. *';
                    return;
                }
                if(this.composite_encoding_value.length > 1000){
                    this.validate_message = 'The encoding value length must be less or equal to 1000.';
                    return;
                }
                if(/\\/.test(this.composite_encoding_value)){
                    this.validate_message = 'No backslashes allowed.';
                    return;
                }
                this.loading = true;
                // Send to backend
                axios.post('http://localhost:8000/CompositeEncodingAlgorithm.php', {
                        value: this.composite_encoding_value,
                        algorithms: this.algorithms
                    })
                    .then((response) => {
                        if(response.status === 200){
                            this.composite_encoding_result = response.data.result;
                        }
                        this.loading = false;
                    })
                    .catch((error) => {
                        if(error.response.status === 422){
                            this.validate_message = error.response.data.message;
                        }else {
                            this.validate_message = 'Server error.';
                        }
                        this.loading = false;
                    });

            },
        },
    })
</script>
</body>
</html>